<%- include("./partials/header.ejs") %>

    <br>
    <div class="nav justify-content-center">
        <nav>
            <div>
                <h1>Welcome to Team Picker</h1>
            </div>
            <br>
            <div>
                <img src="images/img.png">
            </div>
        </nav>
    </div>   

<%- include("./partials/footer.ejs") %>