<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <title>Super Team Picker</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm justify-content-between navbar-light bg-light">
        <ul class="nav ">
            <a href="/" class="nav-link" >Team Picker</a> 
        </ul>
        <ul class="nav">
    
            <a href="/" class="nav-link">Home</a>
    
            <a href="/cohorts" class="nav-link">Cohorts</a>
    
            <a href="/cohorts/new" class="nav-link">New Cohort</a>
        </ul>
    </nav>
        
        <!-- <a href="/" class="nav-link active">Team Picker</a> -->
       
       
    

  